body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    height: 85%;
    margin-top: -17px;
}

#sidePanelButton {
    display: none;
}

footer .row {
    height: 25px;
}

footer .footer-copyright {
    height: 10px;
    margin-top: -20px;
    margin-bottom: -5px;
    min-height: 45px !important;
}

.brand-logo {
    margin-left: 2%;
}

#search {
    height: 90%;
    margin-top: 0.5%;
}

#submit-button {
    background: transparent;
    border: none;
}

.search-icons {
    margin-top: -0.5%;
}

#map {
    height: 100%;
    width: 100%;
}

.side-nav {
    height: 100% !important;
    padding-bottom: 16px !important;
}

.side-head {
    padding: 16px;
    color: white;
}

.side-body {
    padding: 16px 16px 8px;
}

.side-body p {
    line-height: 126%;
    margin-left: 16px;
}

.side-body h5 {
    font-weight: 500;
}

.side-body h6 {
    font-size: 1.21rem;
    font-weight: 500;
    margin-left: 8px;
}

#info-header {
    height: 50px;
    width: 95%;
}

#info-header-title {
    width: 50%;
    height: 50px;
    float: left;
    padding-left: 4px;
}

#info-header-temp {
    width: 50%;
    height: 50px;
    float: right;
    text-align: right;
}

#info-header-temp-icon {
    display: inline-block;
}

#info-header-current-temp {
    display: inline-block;
    vertical-align: top;
    font-size: medium;
    font-weight: normal;
}

#info-table th, #info-table td {
    padding: 8px 8px;
    vertical-align: top;
}

#info-table {
    margin-top: 8px;
    margin-bottom: 8px;
}

#info-footer {
    font-size: large;
    font-weight: normal;
    text-transform: uppercase;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

#side-panel-desc p {
    margin-bottom: 8px;
}

#side-panel-weather img {
    float: left;
}

.side-panel-block {
    display: inline-block;
    width: 100%;
}

.side-panel-location-inline-block h6 {
    float: left;
    width: 15%;
}

.side-panel-location-inline-block p {
    float: left;
    width: 70%;
    margin-top: 8px;
    margin-bottom: 8px;
}

#side-panel-time-from {
    float: left;
    width: 45%;
}

#side-panel-time-to {
    float: left;
    width: 50%;
}

#side-panel-time-updated h6 {
    float: left;
    width: 15%;
}

#side-panel-time-updated p {
    float: left;
    width: 70%;
    margin-top: 9px;
    margin-bottom: 8px;
}

#side-panel-stats table {
    margin-bottom: 8px;
    width: 96%;
}

#max-min-temp {
    color: #878787;
    line-height: 10%;
}

#side-panel-weather {
    width: 100%;
    height: 10%;
}

#weather-prim-info {
    width: 50%;
    float: left;
}

#weather-sec-info {
    width: 50%;
    margin-top: 10px;
    float: right;
    font-size: medium;
}

#weather-sec-info li {
    line-height: 170%;
}

.icon-humidity {
    background: url("../resources/icons/humidity.png") no-repeat left center;
    background-size: 20px;
    padding: 16px 14px 5px;
    margin-left: 5px;
}

.icon-wind {
    background: url("../resources/icons/wind.png") no-repeat left center;
    background-size: 24px;
    padding: 14px 14px 5px;
    margin-left: 4px;
}

.icon-pressure {
    background: url("../resources/icons/barometer.png") no-repeat left center;
    background-size: 24px;
    padding: 8px 15px 3px;
    margin-left: 2px;
}

#modal-trigger {
    margin: auto;
    display: block;
    text-align: center;
    width: 96%;
}

.modal {
    top: 50% !important;
    max-height: 50% !important;
    padding-left: 16px !important;
    padding-right: 16px !important;
}

#modal-header {
    width: 100%;
}

#modal-header h4 {
    float: left;
}

#modal-header a {
    float: right;
    color: grey;
}

#stats-table td, #stats-table th {
    border: 1px black solid;
    text-align: center;
}