
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 0 0 auto;
}

footer .row {
    height: 25px;
}

footer .footer-copyright {
    height: 10px;
    margin-top: -20px;
    margin-bottom: -5px;
}

.brand-logo {
    margin-left: 2%;
}

#search {
    height: 90%;
    margin-top: 0.5%;
}

.search-icons {
    margin-top: -0.5%;
}

/*TODO not working*/
main #map {
    height: 100%;
    width: 100%;
}

/*TODO not working*/
body main ul li div .side-head {
    padding: 16px;
    color: white;
}

body main .side-body {
    padding: 16px;
}

